img[src$='#floatleft'] {
  float:left;
  max-width: 30%;
  height: auto;
}

img[src$='#floatright'] {
  float:right;
  max-width: 30%;
  height: auto;
}

img[src$='#centre'] {
  display: block;
  margin: 0 auto;
  max-width: 50%;
  height: auto;
}

div.caption {
  font-style: italic;
  font-size: 18px;
  max-width=80%;
}

/* nav */
@media screen and (max-width: 960px) {
  .hide-on-mobile {
      display: none !important;
  }
}

@media only screen and (min-width: 961px) {
  .article-nav {
    display: grid;
    grid-template-columns: 1fr 15em;
    max-width: 100em;
    width: 90%;
    margin: 0 auto;
  }
}

artcile.blog-post {
z-index: 1;
}

nav {
  position: sticky;
  top: 55px;
  align-self: start;
}

.section-nav li.active > a {
  color:black;
  font-weight: 600;
  text-overflow: hidden;
}

.section-nav {
  font-size: smaller;
  padding-left: 0;
  border-left: 2px solid #efefef;
  margin-left: 20px;
}

.section-nav a {
  text-decoration: none;
  display: block;
  padding: .125rem 0;
  color: #ccc;
  transition: all 50ms ease-in-out; 
}

.section-nav a:hover,
.section-nav a:focus {
  color: #666;
  /*font-weight: 600;*/
}

.section-nav a:active {
  color: black;
}

nav ul, ol {
  list-style: none;
  margin: 1rem;
  padding: 0;
}

article.news p {
  text-indent: 2em;
}
