{{ define "main" }}
<div class="container" role="main">
  <div class="row">
    <div class="col-lg-7 col-lg-offset-1 col-md-8 col-md-offset-1">
      <nav class="hide-on-mobile section-nav">
       <h3 class="ml-1">สารบัญ</h3>
	{{ .TableOfContents }}
      </nav>

      <article role="main" class="blog-post overlay-top news">
        {{ .Content }}

        {{ if .Params.tags }}
          <div class="blog-tags">
            {{ range .Params.tags }}
              <a href="{{ $.Site.LanguagePrefix | absURL }}/tags/{{ . | urlize }}/">{{ . }}</a>&nbsp;
            {{ end }}
          </div>
        {{ end }}

        {{ if $.Param "socialShare" }}
            <hr/>
            <section id="social-share">
              <div class="list-inline footer-links">
                {{ partial "share-links" . }}
              </div>
            </section>
        {{ end }}

        {{ if .Site.Params.showRelatedPosts }}
          {{ range first 1 (where (where .Site.Pages ".Params.tags" "intersect" .Params.tags) "Permalink" "!=" .Permalink) }}
            {{ $.Scratch.Set "has_related" true }}
          {{ end }}

          {{ if $.Scratch.Get "has_related" }}
                  <h4 class="see-also">{{ i18n "seeAlso" }}</h4>
                  <ul>
                {{ $num_to_show := .Site.Params.related_content_limit | default 5 }}
                {{ range first $num_to_show (where (where .Site.Pages ".Params.tags" "intersect" .Params.tags) "Permalink" "!=" .Permalink) }}
                    <li><a href="{{ .RelPermalink }}">{{ .Title }}</a></li>
                {{ end }}
              </ul>

          {{ end }}
        {{ end }}
      </article>
    </div>
  </div>
</div>

<script>
  window.addEventListener('DOMContentLoaded', () => {
    const observerForTableOfContentActiveState = new IntersectionObserver(entries => {
    for(var i=0; i<entries.length; i++) {
      var entry = entries[i];
      const id = entry.target.getAttribute('id');
      if (entry.intersectionRatio > 0) {					
        clearActiveStatesInTableOfContents();				
        document.querySelector(`nav li a[href="#${id}"]`).parentElement.classList.add('active');
        break;
      }
    }
    /*
      entries.forEach(entry => {
        const id = entry.target.getAttribute('id');

        if (entry.intersectionRatio > 0) {					
          clearActiveStatesInTableOfContents();				
          document.querySelector(`nav li a[href="#${id}"]`).parentElement.classList.add('active');
        }
      });
      */
    });		
    document.querySelectorAll('h3[id]').forEach((section) => {
      observerForTableOfContentActiveState.observe(section);
    });

  });

  function clearActiveStatesInTableOfContents() {
    document.querySelectorAll('nav li').forEach((section) => {
    section.classList.remove('active');
  });
}

window.addEventListener("hashchange", function() { scrollBy(0, -100) });
</script>

{{ end }}
